button {
    font-family: monospace;
    font-size: 25px;
}

.musicnode{
    transition: 1s;
    position: relative;
    display:inline-block;
    white-space: nowrap;
    margin:-1px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #000000; 
    background-color: gray;
}

.musicnote:hover{
    transition: .2s ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.playing{
    transition: 0s;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.musiclabel{
    position: relative;
    font-family: monospace;
    font-size: 15px;
    color:white;
}

#render{
    position: static;
    display: inline-block;
    white-space: nowrap;
    width: 1000px;
    height: 150px;
}
